body {font-family: 'Open Sans', sans-serif;}

/* light button 1 */

.light-1 {
	color: #dcdcdc; /* text color + color overlay */
	font-size: 1em;
	font-weight: bold;
	padding: .6em 2.4em;
	text-decoration: none;

	border: 0.125em solid #dcdcdc; /* stroke */
	-moz-border-radius: 0.125em;
	-webkit-border-radius: 0.125em;
	border-radius: 0.125em; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */

	-webkit-transition: all .15s ease-out;
	   -moz-transition: all .15s ease-out;
	    -ms-transition: all .15s ease-out;
	     -o-transition: all .15s ease-out;
	        transition: all .15s ease-out;

}

.light-1:hover {
	background-color: #dcdcdc;
	color: white;
}

/* light button 2 */

.light-2 {
	color: #575757; /* text color + color overlay */
	font-size: 1em;
	font-weight: bold;
	padding: .6em 2.4em;
	text-decoration: none;

	-moz-border-radius: 0.125em;
	-webkit-border-radius: 0.125em;
	border-radius: 0.125em; /* border radius */

	background-color: #eaeaea; /* layer fill content + color overlay */

	-webkit-transition: all .15s ease-out;
	   -moz-transition: all .15s ease-out;
	    -ms-transition: all .15s ease-out;
	     -o-transition: all .15s ease-out;
	        transition: all .15s ease-out;	
}

.light-2:hover {
	background-color: #dfdfdf;
}

/* light button 3 */

.light-3 {
	color: #575757; /* text color + color overlay */
	font-size: 1em;
	font-weight: bold;
	padding: .6em 2.4em;
	text-decoration: none;
	text-shadow: 0 0.065em 0 rgba(255,255,255,.75);

	-moz-border-radius: 0.125em;
	-webkit-border-radius: 0.125em;
	border-radius: 0.125em; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #eaeaea; /* layer fill content + color overlay */
	-moz-box-shadow: 0 0.125em 0 rgba(0,0,0,.05), inset 0 -0.2em 0 rgba(0,0,0,.12); /* drop shadow and inner shadow */
	-webkit-box-shadow: 0 0.125em 0 rgba(0,0,0,.05), inset 0 -0.2em 0 rgba(0,0,0,.12); /* drop shadow and inner shadow */
	box-shadow: 0 0.125em 0 rgba(0,0,0,.05), inset 0 -0.2em 0 rgba(0,0,0,.12); /* drop shadow and inner shadow */

	-webkit-transition: all .15s ease-out;
	   -moz-transition: all .15s ease-out;
	    -ms-transition: all .15s ease-out;
	     -o-transition: all .15s ease-out;
	        transition: all .15s ease-out;
}

.light-3:hover {
	-moz-box-shadow: 0 0.125em 0 rgba(0,0,0,.05), inset 0 -.15em 0 rgba(0,0,0,.15); /* drop shadow and inner shadow */
	-webkit-box-shadow: 0 0.125em 0 rgba(0,0,0,.05), inset 0 -.15em 0 rgba(0,0,0,.15); /* drop shadow and inner shadow */
	box-shadow: 0 0.125em 0 rgba(0,0,0,.05), inset 0 -.15em 0 rgba(0,0,0,.15); /* drop shadow and inner shadow */
}

.light-3:active {
	-moz-box-shadow: 0 .125em 0 rgba(0,0,0,.05), inset 0 -.1em 0 rgba(0,0,0,.15); /* drop shadow and inner shadow */
	-webkit-box-shadow: 0 .125em 0 rgba(0,0,0,.05), inset 0 -.1em 0 rgba(0,0,0,.15); /* drop shadow and inner shadow */
	box-shadow: 0 .125em 0 rgba(0,0,0,.05), inset 0 -.1em 0 rgba(0,0,0,.15); /* drop shadow and inner shadow */
}

/* light button 4 */

.light-4 {
	color: #575757; /* text color + color overlay */
	font-size: 1em;
	font-weight: bold;
	padding: .6em 2.4em;
	text-decoration: none;
	text-shadow: 0 0.065em 0 rgba(255,255,255,.75);

	-moz-border-radius: .3125em;
	-webkit-border-radius: .3125em;
	border-radius: .3125em; /* border radius */

	background-color: #eaeaea; /* layer fill content */
	-moz-box-shadow: 0 .125em 0 #b0b0b0, inset 0 1.375em 0 rgba(255,255,255,.5) 0 .25em .125em rgba(0,0,0,.1); /* drop shadow and inner shadow */
	-webkit-box-shadow: 0 .125em 0 #b0b0b0, inset 0 1.375em 0 rgba(255,255,255,.5) 0 .25em .125em rgba(0,0,0,.1) 0 .25em .125em rgba(0,0,0,.1); /* drop shadow and inner shadow */
	box-shadow: 0 .125em 0 #b0b0b0, inset 0 1.375em 0 rgba(255,255,255,.5), 0 .25em .125em rgba(0,0,0,.1); /* drop shadow and inner shadow */
	background-image: -moz-linear-gradient(bottom, #eaeaea 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, #eaeaea 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, #eaeaea 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, #eaeaea 0%, #f6f6f6 100%); /* gradient overlay */

	-webkit-transition: all .15s ease-out;
	   -moz-transition: all .15s ease-out;
	    -ms-transition: all .15s ease-out;
	     -o-transition: all .15s ease-out;
	        transition: all .15s ease-out;
}

.light-4:hover {
	background-image: -moz-linear-gradient(bottom, #f1f1f1 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, #f1f1f1 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, #f1f1f1 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, #f1f1f1 0%, #f6f6f6 100%); /* gradient overlay */
}

.light-4:active {
	-moz-box-shadow: 0 .08em 0 #b0b0b0, inset 0 1.5em 0 rgba(255,255,255,.3), 0 .2em .12em rgba(0,0,0,.1); /* drop shadow and inner shadow */
	-webkit-box-shadow: 0 .08em 0 #b0b0b0, inset 0 1.5em 0 rgba(255,255,255,.3), 0 .2em .12em rgba(0,0,0,.1); /* drop shadow and inner shadow */
	box-shadow: 0 .08em 0 #b0b0b0, inset 0 1.5em 0 rgba(255,255,255,.3), 0 .2em .12em rgba(0,0,0,.1); /* drop shadow and inner shadow */
}

/* light button 5 */

.light-5 {
	color: #575757; /* text color + color overlay */
	font-size: 1em;
	font-weight: bold;
	padding: .6em 2.4em;
	text-decoration: none;
	text-shadow: 0 0.065em 0 rgba(255,255,255,.75);

	border: .0625em solid #c0c0c0; /* stroke */
	-moz-border-radius: .4375em;
	-webkit-border-radius: .4375em;
	border-radius: .4375em; /* border radius */
	background-color: #eaeaea; /* layer fill content */
	-moz-box-shadow: 0 .125em .125em rgba(0,0,0,.09), inset 0 .0625em 0 rgba(255,255,255,1); /* drop shadow and inner shadow */
	-webkit-box-shadow: 0 .125em .125em rgba(0,0,0,.09), inset 0 .0625em 0 rgba(255,255,255,1); /* drop shadow and inner shadow */
	box-shadow: 0 .125em .125em rgba(0,0,0,.09), inset 0 .0625em 0 rgba(255,255,255,1); /* drop shadow and inner shadow */
	background-image: -moz-linear-gradient(bottom, #eaeaea 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, #eaeaea 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, #eaeaea 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, #eaeaea 0%, #f6f6f6 100%); /* gradient overlay */

	-webkit-transition: all .15s ease-out;
	   -moz-transition: all .15s ease-out;
	    -ms-transition: all .15s ease-out;
	     -o-transition: all .15s ease-out;
	        transition: all .15s ease-out;
}

.light-5:hover {
	background-image: -moz-linear-gradient(bottom, #dfdfdf 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, #dfdfdf 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, #dfdfdf 0%, #f6f6f6 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, #dfdfdf 0%, #f6f6f6 100%); /* gradient overlay */
}

.light-5:active {
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.2); /* inner shadow */
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.2); /* inner shadow */
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2); /* inner shadow */
	background-image: -moz-linear-gradient(bottom, #f6f6f6 0%, #eaeaea 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, #f6f6f6 0%, #eaeaea 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, #f6f6f6 0%, #eaeaea 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, #f6f6f6 0%, #eaeaea 100%); /* gradient overlay */

}





